<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>
    <h3>98 Result(s)</h3>


    <div th:replace="search :: list_all"></div>
    <table th:each = "job : ${jobs}" class="job-listing">
             <tr th:each = "column : ${job}">
                 <td th:text="${column.key}"></td>
                 <td th:text="${column.value}"></td>
             </tr>
     </table>

</div>

</body>
</html>